<footer class="ui-component footer">
    <a class="ui-component icon-container"><ion-icon class="ui-component icon" name="home-outline"></ion-icon></a>
    <a class="ui-component icon-container"><ion-icon class="ui-component icon" name="search-outline"></ion-icon></a>
    <a class="ui-component icon-container">
        <ion-icon style="position: absolute;" class="ui-component icon" name="square-outline"></ion-icon>
        <ion-icon style="font-size: 24px;" class="ui-component icon" name="add-outline"></ion-icon>
    </a>
    <a class="ui-component icon-container"><ion-icon class="ui-component icon" name="mail-outline"></ion-icon></a>
    <a class="ui-component icon-container"><ion-icon class="ui-component icon" name="person-outline"></ion-icon></a>
</footer>