<div class="ui-component post">
    <div class="ui-component post-username-container">
        <p class="ui-component post-username"> @nombre_usuario </p>
    </div>
    <div class="ui-component post-image-container">
        <img src="../../images/imagen_aestetik.jpg" class= "ui-component post-image" alt="">
    </div>
    <p class="ui-component post-description"> descripcion </p>
</div>
