<!DOCTYPE html>
<html lang="en">
<head>
    <% var rootPath = '../../' %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nooru | Inicio</title>
    <link rel="stylesheet" href="/css/index/index.css">
</head>
<body>
    <%- include(rootPath + 'html/components/nav-bar.ejs') %> 
    <%- include(rootPath + 'css/components/nav-bar.ejs') %> 
    <%- include(rootPath + 'html/components/footer.ejs') %> 
    <%- include(rootPath + 'css/components/footer.ejs') %> 
</body>
</html>